body {
    margin: 0px;
    padding: 0px;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.background-fade {
    background-image: linear-gradient(#333333, #000000);
    opacity: .95;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 95%;
    max-width: 700px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

h1 {
    font-size: 22px;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #F7931E;
}

.descriptive-paragraph {
    font-size: 14px;
    color: lightgrey;
    padding: 15px;
}

.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #F7931E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tile {
    width: 100%;
    background-color: #4D4D4D;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transform: scale(1.02);
    background-color: #F7931E;
    color: black;
}

.tile-share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 8px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile-share-button svg {
    color: black;
}

.image-container {
    height: 150px;
    width: 150px;
    border-radius: 75px;
    border-style: solid;
    border-color: #F7931E;
    overflow: hidden;
}

.image-container img {
    height: 100%;
}

.icon {
    width: 40px;
    height: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-statement {
    font-size: 12px;
    font-style: italic;
    padding: 15px;
}

.copyright-statement a {
    color: #F7931E;
}