/* Body format */

body {
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Fade overlay of background MARPAT image */
.background-fade {
    background-image: linear-gradient(#333333, #000000);
    opacity: .95;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Header and misc formatting */
header {
    width: 95%;
    max-width: 700px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

h1 {
    font-size: 22px;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #F7931E;
}

.descriptive-paragraph {
    font-size: 14px;
    color: lightgrey;
    padding: 15px;
}

/* Share button format */
.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #F7931E;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Basic container format */
.container {
    width: 90%;
    max-width: 600px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tile Format and Special Hover Colors for Socials */
.tile {
    width: 100%;
    background-color: #4D4D4D;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transform: scale(1.02);
    background-color: #F7931E;
    color: black;
}

.tile.linkedin:hover {
    transform: scale(1.02);
    background-color: #1e9df7;
    color: rgb(255, 255, 255);
}

.tile.reddit:hover {
    transform: scale(1.02);
    background-color: #c90000;
    color: rgb(255, 255, 255);
}

.tile.github:hover {
    transform: scale(1.02);
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.tile-share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 8px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Profile image container */
.image-container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: #F7931E;
    overflow: hidden;
    box-shadow: 0 4px 4px black;
}

.image-container img {
    height: 100%;
}

/* Icons for Tiles */
.icon {
    width: 40px;
    height: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Copyright statement at bottom */
.copyright-statement {
    font-size: 12px;
    font-style: italic;
    padding: 15px;
}

.copyright-statement a {
    color: #F7931E;
}