/* Body format */

body {
    margin: 0px;
    padding: 0px;
    background-color: #333333;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Fade overlay of background MARPAT image */
.background-fade {
    background-image: linear-gradient(#333333, #000000);
    opacity: .95;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Header and misc formatting */
header {
    width: 95%;
    max-width: 700px;
    display: flex;
    justify-content: flex-end;
    padding: 12px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: rgb(240, 240, 240);
}

h1 {
    font-size: 22px;
    margin-bottom: 5px;
    text-align: center;
}

h2 {
    font-size: 18px;
    margin-bottom: 8px;
    color: #F7931E;
}

.descriptive-paragraph {
    font-size: 14px;
    color: lightgrey;
    padding: 15px;
}

/* Share button format */
.share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #F7931E;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Basic container format */
.container {
    width: 90%;
    max-width: 600px;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Tile Format and Special Hover Colors for Socials */
.tile {
    width: 100%;
    background-color: #4D4D4D;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.tile:hover {
    transform: scale(1.02);
    background-color: #F7931E;
    color: black;
}

.tile.linkedin:hover {
    transform: scale(1.02);
    background-color: #1e9df7;
    color: rgb(255, 255, 255);
}

.tile.reddit:hover {
    transform: scale(1.02);
    background-color: #c90000;
    color: rgb(255, 255, 255);
}

.tile.github:hover {
    transform: scale(1.02);
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.tile-share-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 8px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Profile image container */
.image-container {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border-style: solid;
    border-color: #F7931E;
    overflow: hidden;
    box-shadow: 0 4px 4px black;
}

.image-container img {
    height: 100%;
}

/* Icons for Tiles */
.icon {
    width: 40px;
    height: 40px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Copyright statement at bottom */
.copyright-statement {
    font-size: 12px;
    font-style: italic;
    padding: 15px;
}

.copyright-statement a {
    color: #F7931E;
}

/* Fixed top menu bar */
.menu-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: #333;
    color: #fff;
  }
  
  /* Logo on the left */
  .menu-bar .logo {
    margin-left: 20px;
    font-size: 1.5em;
  }
  
  /* Menu items on the right */
  .menu-bar .menu-items {
    display: flex;
    list-style: none;
    margin-right: 20px;
  }
  .menu-bar .menu-items li {
    margin-left: 20px;
    font-size: 0.9em;
  }
  
  /* "Hamburger" icon for mobile menu */
  @media (max-width: 768px) {
    .menu-bar .menu-items {
      display: none;
    }
    .menu-bar .menu-icon {
      display: block;
      cursor: pointer;
      margin-right: 20px;
    }
    .menu-bar .menu-icon i {
      font-size: 1.5em;
    }
  }
  
  /* Mobile menu dropdown */
  .menu-bar .menu-dropdown {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    display: none;
  }
  .menu-bar .menu-dropdown li {
    font-size: 0.9em;
    margin: 20px;
  }
  
  /* Show mobile menu when "hamburger" icon is clicked */
  .menu-bar .menu-icon.active + .menu-dropdown {
    display: block;
  }